## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.DotSettings.user

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rtifacts/

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Test / coverage
TestResults/
*.trx
*.coverage
*.coveragexml

## OS / IDE
.DS_Store
Thumbs.db
*.swp
*~
